@using System.Databases.Exchange
@using System.Services.EmailStorage
@model MsgTrackingLog
@{
    var language = "en";
    var isLanguageEnglish = true;

    ViewBag.Title = Model.message_subject;
    IEnumerable<MsgTrackingLogsAttachment> attachments = ViewBag.attachments;
    IEnumerable<MsgTrackingLogsRecipientAddress> to_recipients = ViewBag.to_recipients;
    IEnumerable<MsgTrackingLogsRecipientAddress> cc_recipients = ViewBag.cc_recipients;
    IEnumerable<MsgTrackingLogsHeader> messageInternetHeaders = ViewBag.messageInternetHeaders;

    var hasReferences = messageInternetHeaders != null && messageInternetHeaders.Where(x => x.FieldName == "References").Any();
    var hasReceipts = Model.MsgTrackingLogsReceipts.Any();
}

<div class="site-width">
    <div class="content-wrapper col-xs-12">
        <div class="exchange-message" jq-tabs="{ active: 0 }" ng-controller="EmailMessageController">
            <ul>
                <li><a href="#exchange-message"><i class="fa fa-envelope-o"></i>&nbsp;Message</a></li>
                <li><a href="#message-headers"><i class="fa fa-file-text"></i>&nbsp;Headers</a></li>
                @if (hasReferences) {
                    <li>
                        <a href="#message-references">
                            <i class="fa fa-commenting"></i>&nbsp;References
                            <span class='badge' ng-bind="emailReferencesCounter | number"></span>
                            <i class="fa fa-spinner fa-spin" ng-show="emailReferencesCounterLoading"></i>
                        </a>
                    </li>
                }
                @if (hasReceipts) {
                    <li>
                        <a href="#message-receipts">
                            <i class="fa fa-tags"></i>&nbsp;Receipts
                            <span class='badge' ng-bind="emailReceiptsCounter | number"></span>
                            <i class="fa fa-spinner fa-spin" ng-show="emailReceiptsCounterLoading"></i>
                        </a>
                    </li>
                }
            </ul>
            <div id="exchange-message" class="container-fluid">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>From:</dt>
                        <dd>
                            <a class="email-address" title="@Model.sender_address" href="mailto:@Model.sender_address">
                                @(Model.MsgTrackingExtendedLog.sender_name ?? Model.sender_address)
                            </a>
                            @if (!String.IsNullOrEmpty(Model.MsgTrackingExtendedLog.from_address)) {
                                <span>&nbsp;on behalf of&nbsp;</span>
                                <a class="email-address" title="@Model.MsgTrackingExtendedLog.from_address" href="mailto:@Model.MsgTrackingExtendedLog.from_address">
                                    @(Model.MsgTrackingExtendedLog.from_name ?? Model.MsgTrackingExtendedLog.from_address)
                                </a>
                            }
                        </dd>

                        <dt>Sent:</dt>
                        <dd><time class="timeago">@Model.date_time</time></dd>

                        <dt>To:</dt>
                        <dd>
                            @foreach (var recipient in to_recipients) {
                                <a class="email-address" title="@recipient.recipient_address" href="mailto:@recipient.recipient_address">
                                    @(recipient.recipient_name ?? recipient.recipient_address)
                                </a>
                            }
                        </dd>

                        @if (cc_recipients.Any()) {
                            <dt>CC:</dt>
                            <dd>
                                @foreach (var recipient in cc_recipients) {
                                    <a class="email-address" title="@recipient.recipient_address" href="mailto:@recipient.recipient_address">
                                        @(recipient.recipient_name ?? recipient.recipient_address)
                                    </a>
                                }
                            </dd>
                        }

                        <dt>Subject:</dt>
                        <dd>@Model.message_subject</dd>

                        @if (attachments != null && attachments.Any()) {
                            <dt>Attachments:</dt>
                            <dd>
                                <ul class="inline-block list-unstyled">
                                    @foreach (var item in attachments) {
                                        if (EmailStorageService.isAttachmentFileAvailableForDownload(item)) {
                                            <li>
                                                <a title="Click to download" href="@Url.Action("Attachment", new { ID = item.ID })">
                                                    @item.attachment_name&nbsp;<span file-size>@((long)item.attachment_size)</span>
                                                </a>
                                            </li>
                                        }
                                        else if (item is MsgTrackingLogsAttachment) {
                                            <li><div title="Not available for download">@item.attachment_name</div></li>
                                        }
                                    }
                                </ul>
                            </dd>
                        }
                    </dl>

                    <div class="clearfix"></div>

                    <div>
                        @if (Model.MsgTrackingExtendedLog.message_body_type == "HTML") {
                            <div jq-tabs="{ active: 0 }">
                                <ul>
                                    <li><a href="#message-html"><i class="fa fa-file-code-o"></i>&nbsp;HTML</a></li>
                                    <li><a href="#message-text"><i class="fa fa-file-text-o"></i>&nbsp;Text</a></li>
                                </ul>
                                <div id="message-html" class="padding-zero">
                                    <textarea class="ckeditor" name="editor1" id="editor1">
                                        @Model.MsgTrackingExtendedLog.message_body
                                    </textarea>
                                </div>
                                <div id="message-text" class="padding-zero">
                                    <textarea autosize class="form-control">@(Model.MsgTrackingExtendedLog.message_body_text)</textarea>
                                </div>
                            </div>
                        }
                        else {
                            <textarea autosize class="form-control">@(Model.MsgTrackingExtendedLog.message_body ?? Model.MsgTrackingExtendedLog.message_body_text)</textarea>
                        }
                    </div>
                </div>
            </div>
            <div id="message-headers">
                @if (messageInternetHeaders.Any()) {
                    <dl class="dl-horizontal">
                        @foreach (var item in messageInternetHeaders) {
                            <dt>@item.FieldName</dt>
                            <dd><samp>@item.FieldBody</samp></dd>
                        }
                    </dl>
                }
                else {
                    <p>Not Available</p>
                }
            </div>
            @if (hasReferences) {
                <div id="message-references">
                    <table mails-list data-counter-name="emailReferencesCounter"
                           data-url='@Url.Action("References", "Email", new { ID = Model.ID })'></table>
                </div>
            }
            @if (hasReceipts) {
                <div id="message-receipts">
                    <table mails-list data-counter-name="emailReceiptsCounter"
                           data-url='@Url.Action("Receipts", "Email", new { ID = Model.ID })'></table>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section externalScripts {
    @if (!isLanguageEnglish) { @Scripts.Render(String.Format("~/bundles/jqgrid.js/js/i18n/grid.locale-{0}.js", language)) }
    @Scripts.Render("~/bundles/jqgrid.js/plugins/ui.multiselect.js")
    @Scripts.Render("~/bundles/jqgrid.js")
    @if (!isLanguageEnglish) { @Scripts.Render(String.Format("~/bundles/timepicker/js/i18n/jquery-ui-timepicker-{0}.js", language)) }
    @Scripts.Render("~/bundles/timeago.js")
    @if (!isLanguageEnglish) { @Scripts.Render(String.Format("~/bundles/timeago.js/locales/jquery.timeago.{0}.js", language)) }
    @Scripts.Render("~/bundles/ckeditor")
}

@section scripts {
    @Scripts.Render("~/bundles/system/js")
}

@section styles {
    @Styles.Render("~/bundles/jqgrid.css/plugins/ui.multiselect.css")
    @Styles.Render("~/bundles/jqgrid.css")
    @Styles.Render("~/bundles/timepicker/css")
}